.create-container__edit{
  font-size: $mediumFontSize;
  margin-bottom: 10px;
  letter-spacing: 0.1em; 
}

#user_current_password {
  width: 400px;
  height: 40px;
}

.update-btn {
  width: 150px;
  height: 40px;
  margin-top: 20px;
  margin-left: 50px;
  color: $btnFontColor;
  background-color: $btnColor;
  cursor: pointer;
  border-radius: 5px;
}
.update-btn:hover{
  background-color: $btnhoverColor;
  color: $whiteColor;
}
.back {
  color: $btnFontColor;
  margin-top: 20px;
  margin-left: 100px;
  text-decoration: none;
}
.cancel {
  margin-left: 200px;
  color: $btnFontColor;
}
.draw-btn{
  width: 100px;
  height: 30px;
  color: $btnFontColor;
  background-color: $btnColor;
  margin-left: 50px;
  cursor: pointer;
  border-radius: 5px;
}
.draw-btn:hover{
  background-color: $btnhoverColor;
  color: $whiteColor;
}
