* {
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100%;
}

.wrapper{
  background-image: image-url("family.jpg");
  background-position:center bottom;
  background-size: cover;
  width: 100%;
  height: 100vh; 
  display: flex;
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: #d3d3d3;
}

.title-container{
  width: 50%;
  height: 100vh;
  padding: 10%;
  &__title{
    font-size: $largeFontSize;
    margin-bottom: 10px;
    letter-spacing: 0.1em;
  }
  &__subtitle{
    font-size: $mediumFontSize;
    margin-bottom: 50px;
    padding-left: 30px;
  }
  &__message{
    font-size: $smallFontSize;
    padding-left: 50px;
    line-height: 1.8;
  }
}

.form-container{
  width: 50%;
  height: 100vh;
  padding: 12% 0 0 10%;
  &__login{
    font-size: $largeFontSize;
    margin-bottom: 10px;
    letter-spacing: 0.1em;
    &--email{
      padding-bottom: 30px;
    }
  }
}
#user_email, #user_password{
  width: 400px;
  height: 40px;
}
.login-btn{
  width: 200px;
  height: 40px;
  margin-top: 20px;
  margin-left: 80px;
  color: $btnFontColor;
  background-color: $btnColor;
  cursor: pointer;
  border-radius: 5px;
}
.login-btn:hover{
  background-color: $btnhoverColor;
  color: $whiteColor;
}
.new-btn{
  display: block;
  text-decoration: none;
  margin: 20px 0 0 100px;
  color: $btnFontColor;
}
.forget-btn{
  display: block;
  text-decoration: none;
  margin: 20px 0 0 100px;
  color:  $btnFontColor;
}


// パスワードをお忘れですか-------
.form-container{
  &__passwordreset{
    margin-bottom: 30px;
    letter-spacing: 0.1em;
    &--submit{
      padding-top: 20px;
     }
  }
  &__link{
    margin-top: 100px;
  }
}
.submit-btn{
  width: 150px;
  height: 40px;
  margin-top: 20px;
  margin-left: 50px;
  color:$btnFontColor;
  background-color: $btnColor;
  border-radius: 5px; 
}