.side-bar{
  width: 20%;
  height: calc(100vh - 80px);
  position: absolute;
  top: 80px;
  border-right: 1px solid rgb(173, 171, 171);
  &__list{
   padding: 50px;
   line-height: 2;
    &--name{
      font-size: 1.5rem;
      padding-bottom: 50px;
    }
    &--incomes, &--fixedcosts, &--savings, &--balance{
      padding-bottom: 30px;
    }
  }
  &__btn{
    padding-left: 80px;
    font-size: 1.2em;
  } 
}
.side-btn{
  -webkit-appearance: none;
  display: inline-block;
  text-decoration: none;
  width: 100px;
  height: 40px;
  background-color: #e6f2f5;
  line-height: 40px;
  text-align: center;
  color: #6f6fc5;
  margin-left: 50px;
  border-radius: 5px; 
}

.main{
  width: 80%;
  height: calc(100vh - 80px);
  position: absolute;
  top: 80px;
  left: 20%;
  padding-left: 100px;
  &__conteiner{  
    &--title{
      width: 100%;
      font-size: 2.5rem;
      padding: 30px;
    }
    &--message{
      margin-bottom: 30px;
    }
  }
  &__form{
    margin-bottom: 30px;
    &--month, &--content, &--cost{
      margin-right: 20px;
    }
  }
  &__lists{
    width: 950px;
    height: 350px;
    color: black;
    overflow: scroll;  
 }
}

.edit_record{
  display: flex;
}
.new_record{
  display: flex;
}
#record_month{
  width: 50px;
  height: 40px;
}
#record_content{
  width: 200px;
  height: 40px;
}
#record_cost{
  width: 100px;
  height: 40px;
}
.submit-btn{
  -webkit-appearance: none;
  width: 100px;
  height: 40px;
  margin-top: 20px;
  margin-left: 50px;
  color:rgb(111, 111, 197);
  background-color: #e6f2f5;
  cursor: pointer;
  border-radius: 5px; 
}

table{
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 950px;
  table-layout: fixed;
}
table tr {
  background-color: #e6f2f5;
  padding: .35em;
  border-bottom: 2px solid #fff;
}
table th,
table td {
  padding: 8px;
  border-right: 2px solid #fff;
}
table th {
  font-size: .85em;
}
// table thead tr{
.record-month, .record-text, .record-cost{
  background-color: rgb(223, 130, 9);
  color:#fff;
}
.edit-btn,.delete-btn{
  text-decoration: none;
  color: rgb(111, 111, 197);
}


.record-footer{
  background-color: rgb(247, 163, 53);
  position: fixed;
  bottom: 0px;
  right: 0px;
  display: flex;
  width: calc(100% - 20%);
  height: 70px;
  color: black;
  &__left{
    width: 50%;
    &--total{
      text-align: center;
      line-height: 70px;
      font-size: 1.2rem;
    }
  }
  &__right{
    width: 50%;
    &--balance{
      text-align: center;
      line-height: 70px;
      font-size: 1.2rem;
    }
  }
}