.guide-container{
  width: 50%;
  height: 100vh;
  padding-top: 80px;
  padding-left: 100px;
  &__title{
    font-size: $largeFontSize;
    margin-bottom: 10px;
    letter-spacing: 0.1em;
  }
  &__subtitle{
    font-size: $mediumFontSize;
    margin-bottom: 50px;
    padding-left: 30px;
  }
  &__message{
    padding-left: 20px;
    .list{
      font-size: $mediumFontSize;
      padding-left: 40px;
    }
  }
}

.create-container{
  width: 50%;
  height: 100vh;
  padding: 50px 0 0 50px;
  &__signup{
  font-size: $largeFontSize;
  margin-bottom: 10px;
  letter-spacing: 0.1em; 
  }
} 
#user_name, #user_incomes, #user_fixedcosts, #user_savings{
  width: 200px;
  height: 40px;
}
#user_email, #user_password, #user_password_confirmation{
  width: 400px;
  height: 40px;
}
.fixedcosts {
  display: flex;
  color: #a9a9a9;
}
.signup-btn{
  width: 150px;
  height: 40px;
  margin-left: 50px;
  color:$btnFontColor;
  background-color: $btnColor;
  cursor: pointer;
  border-radius: 5px; 
}
.signup-btn:hover{
  background-color: $btnhoverColor;
  color: $whiteColor;
}

.login-btn{
  display: block;
  text-decoration: none;
  margin: 50px 0 0 100px;
  color: $btnFontColor;
}


// モーダル/average-------------
.js-modal-open{
  text-decoration: none;
  color: $btnFontColor;
  line-height: 3rem;
}
.modal{
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
}
.modal__bg{
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100vh;
  position: absolute;
}
.modal__content{
  background: $whiteColor;
  width: 25%;
  height: 80%;
  left: 25%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  color: $blackColor;
}
#close{
  color: $btnFontColor;
  height: 40px;
  width: 60px;
  text-decoration: none;
  border: 1px solid $btnFontColor;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  margin-top: 50px;
  float: right;
}
.spending-table {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.age{
  width: 30%;
}
.spending{
  width: 70%;
}

// モーダル/calculator----------
.js-modal-calculator-open{
  text-decoration: none;
  color: $btnFontColor;
  line-height: 3rem;
}
.calculator-form{
  width: 100%;
  height: 80%;
}
.calculator-table{
  width: 100%;
  height: 100%;
}
.calculator-result{
  width: 100%;
  height: 100%;
  text-align: right;
  padding: 8px;
  font-size: $mediumFontSize;
}
.btn-container{
  display: flex;
}

