$btnFontColor: #6f6fc5;
$btnColor: #e6f2f5;
$btnhoverColor: #17a2b8;
$whiteColor: #fff;
$blackColor: #000000;

$largeFontSize: 2rem;
$mediumFontSize: 1.5rem;
$smallFontSize: 1.2rem;

// flashメッセージ
$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #78bbc7;
$light_gray: #999;
$black: #434a54;
$alert_orange: #f7a335;