header.header{
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
}
.header__title{
  margin-left: 100px;
  line-height: 70px;
  font-size: $largeFontSize;
  float: left;
}
.header__right{
  float: right;
  line-height: 70px;
  margin-right: 100px;
  &--btn{
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: $btnFontColor;
    font-size: $smallFontSize;
  }
  &--btn:hover{
    color: $whiteColor;
    text-decoration: none;
  }
}

.side-bar{
  width: 20%;
  height: calc(100vh - 80px);
  position: absolute;
  top: 80px;
  border-right: 1px solid #d3d3d3;
  &__list{
   padding: 50px;
   line-height: 2;
    &--name{
      font-size: $mediumFontSize;
      padding-bottom: 50px;
    }
    &--incomes, &--fixedcosts, &--savings, &--balance{
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;
    }    
  }
} 
.side-btn{
  display: inline-block;
  text-decoration: none;
  width: 100px;
  height: 40px;
  background-color: $btnColor;
  line-height: 40px;
  text-align: center;
  color: $btnFontColor;
  margin-left: 80px;
  border-radius: 5px; 
}
.side-btn:hover{
  background-color: $btnhoverColor;
  color: $whiteColor;
  text-decoration: none;
}

.main{
  width: 80%;
  height: calc(100vh - 80px);
  position: absolute;
  top: 80px;
  left: 20%;
  padding-left: 10%;
  &__conteiner{  
    &--title{
      width: 100%;
      font-size: 2.5rem;
      padding: 30px;
    }
    &--message{
      margin-bottom: 30px;
    }
  }
  &__form{
    margin-bottom: 30px;
    &--month, &--content, &--cost{
      margin-right: 20px;
    }
  }
  &__lists{
    width: 950px;
    height: 350px;
    color: $blackColor;
  }
}
.head-month, .head-text, .head-cost{
  background-color: #60baca;
  color:$whiteColor;
}

.edit_wish{
  display: flex;
}
.new_wish{
  display: flex;
}
#wish_month{
  width: 50px;
  height: 40px;
}
#wish_content{
  width: 250px;
  height: 40px;
}
#wish_cost{
  width: 200px;
  height: 40px;
}
.container.text-center{
  width: 200px;
}
.btn.btn-info{
  width: 100px;
  height: 40px;
  margin-top: 20px;
  color:$btnFontColor;
  background-color: $btnColor;
  cursor: pointer;
  border-radius: 5px; 
}
.modal-content{
  min-height:300px;
  padding: 20px 50px;
  color: $blackColor;
  &__label{
    height: 100px;
    font-size: $mediumFontSize;
  }
  &__title{
    height: 80px;
    $smallFontSize: 1.3rem;
  }
  &__text{
    text-align: left;
  }
  &__btn{
    margin: 10px;
    .btn.btn-secondary.btn-lg{
      margin: 20px;
    }
    .btn.btn-danger.btn-lg{
      margin: 20px;
    }
  }  
}

// è¡¨-----------------
table{
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 950px;
  table-layout: fixed;
}
table tr{
  background-color: $btnColor;
  padding: .35em;
  border-bottom: 2px solid $whiteColor;
}
table th,table td{
  padding: 8px;
  border-right: 2px solid $whiteColor;
}
table th{
  font-size: .85em;
  text-align: center;
}
thead{
  width: 100%;
  height: 40px;
}
.head-month{
  width: 100px;
}
.head-text{
  width: 280px;
}
.head-cost{
  width: 200px;
}
.body-month{
  width: 100px;
  text-align: right;
  padding-right: 20px;
}
.body-text{
  width: 280px;
  padding-left: 20px;
}
.body-cost{
  width: 200px;
  text-align: right;
}
.table-btn{
  width: 150px;
  text-align: center;
}
.table-btn:hover{
  background-color: $btnhoverColor;
}
.edit-btn, .delete-btn{
  display: block;
  text-decoration: none;
  color: $btnFontColor;
}
.edit-btn:hover, .delete-btn:hover{
  color: $whiteColor;
  text-decoration: none;
}
thead.list, tbody.list{
  display: block;
}
tbody.list{
  overflow-x: hidden;
  overflow-y: scroll;
  height: 300px;
}


.footer{
  background-color: #78bbc7;
  position: fixed;
  bottom: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70px;
  color: $blackColor;
  line-height: 70px;
  font-size: $smallFontSize;
  &__label{
    margin-left: 150px;
  }
  &__money{
    margin-left: 50px;
  }
}

