body{
  color:  rgb(129, 119, 119);
}
header.header{
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
}
.header__title{
  margin-left: 100px;
  line-height: 80px;
  font-size: 2rem;
  float: left;
}
.header__right{
  float: right;
  line-height: 80px;
  margin-right: 100px;
  &--btn{
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: rgb(111, 111, 197);
    font-size: 1.2rem;
  }
}

.side-bar{
  width: 20%;
  height: calc(100vh - 80px);
  position: absolute;
  top: 80px;
  border-right: 1px solid rgb(173, 171, 171);
  &__list{
   padding: 50px;
   line-height: 2;
    &--name{
      font-size: 1.5rem;
      padding-bottom: 50px;
    }
    &--incomes, &--fixedcosts, &--savings, &--balance{
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;
    }    
  }
  
  } 

.side-btn{
  -webkit-appearance: none;
  display: inline-block;
  text-decoration: none;
  width: 100px;
  height: 40px;
  background-color: #e6f2f5;
  line-height: 40px;
  text-align: center;
  color: #6f6fc5;
  margin-left: 80px;
  border-radius: 5px; 
}




.main{
  width: 80%;
  height: calc(100vh - 80px);
  position: absolute;
  top: 80px;
  left: 20%;
  padding-left: 100px;
  &__conteiner{  
    &--title{
      width: 100%;
      font-size: 2.5rem;
      padding: 30px;
    }
    &--message{
      margin-bottom: 30px;
    }
  }
  &__form{
    margin-bottom: 30px;
    &--month, &--content, &--cost{
      margin-right: 20px;
    }
  }
  &__lists{
    width: 950px;
    height: 350px;
    color: black;
    overflow: scroll;  
 }
}
.head-month, .head-text, .head-cost{
  background-color: #60baca;
  color:#fff;
}

.edit_wish{
  display: flex;
}
.new_wish{
  display: flex;
}
#wish_month{
  width: 50px;
  height: 40px;
}
#wish_content{
  width: 250px;
  height: 40px;
}
#wish_cost{
  width: 200px;
  height: 40px;
}
.container.text-center{
  width: 200px;
}
.btn.btn-info{
  -webkit-appearance: none;
  width: 100px;
  height: 40px;
  margin-top: 20px;
  color:rgb(111, 111, 197);
  background-color: #e6f2f5;
  cursor: pointer;
  border-radius: 5px; 
}
.modal-content{
  min-height:300px;
  padding: 20px 50px;
  &__label{
    height: 100px;
    font-size: 1.5rem;
  }
  &__title{
    height: 80px;
    font-size: 1.3rem;
  }
  &__text{
    text-align: left;
  }
  &__btn{
    margin: 10px;
    .btn.btn-secondary.btn-lg{
      margin: 20px;
    }
    .btn.btn-danger.btn-lg{
      margin: 20px;
    }

  }
  
}


table{
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 950px;
  table-layout: fixed;
}
table tr {
  background-color: #e6f2f5;
  padding: .35em;
  border-bottom: 2px solid #fff;
}
table th,
table td {
  padding: 8px;
  border-right: 2px solid #fff;
}
table th {
  font-size: .85em;
  text-align: center;
}
.edit-btn,.delete-btn{
  text-decoration: none;
  color: rgb(111, 111, 197);
}


.head-month {
  width: 100px;
}
.head-text {
  width: 280px;
}
.body-month {
  text-align: right;
  padding-right: 20px;
}
.body-text {
  padding-left: 20px;
}
.body-cost{
  text-align: right;
}
.table-btn{
  text-align: center;
}

.footer{
  background-color: #78bbc7;
  position: fixed;
  bottom: 0px;
  right: 0px;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 20%);
  height: 70px;
  color: black;
  line-height: 70px;
  font-size: 1.2rem;
  &__left{
    margin-left: 100px;
  }
  &__money{
    margin-right: 120px;
  }
}

// // モーダル
// #overlay {
//   //モーダルウィンドウの背景を設定
//     width: 100%;
//     height: 100%;
//     position: fixed;
//     top: 0;
//     left: 0;
//   //透過度をつける
//     background: rgba(0, 0, 0, 0.3);
//     display: none;
//     z-index: 1;
//   }
  
//   #modalWindow {
//   // モーダルウィンドウの画面を設定(高さ・幅は調整ください)
//     width: 500px;
//     height: 200px;
//     position: absolute;
//   //トップからの場所を指定（topをいじれば高さが調整できます）
//     top: 20%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     background-color: white;
//     z-index: 2;
//   //flexboxで子要素のボタンとメッセージボックスの要素を配置する
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
  
//     .modal-message-box {
//       width: 100%;
//   //下記heightの60pxはボタンの高さで、それを画面の大きさから引いています。
//       height: calc(100% - 60px);
//       text-align: center;
//   //flexboxで文字の配置を決める（縦方向、中央揃え）
//       display: flex;
//       flex-direction: column;
//       justify-content: space-around;
//     }
  
//     #modal-close-btn {
//       width: 50%;
//       height: 60px;
//     }
  
//     #delete-comformation-btn {
//       width: 50%;
//       height: 60px;
//     }
//   }
  
//   .item-delete-btn {
//   //削除ボタンの非表示
//     width: 0;
//     height: 0;
//     margin: 0;
//     padding: 0;
//     border: 0;
//   }