.create-container__edit{
  font-size: 1.5rem;
  margin-bottom: 10px;
  letter-spacing: 0.1em; 
}

#user_current_password {
  width: 400px;
  height: 40px;
}

.update-btn {
  -webkit-appearance: none;
  width: 100px;
  height: 40px;
  margin-top: 20px;
  margin-left: 50px;
  color: rgb(111, 111, 197);
  background-color: #e6f2f5;
  cursor: pointer;
  border-radius: 5px;
}
.action {
  display: flex;
}
.back {
  color: rgb(111, 111, 197);
  font-size: 1.2rem;
  margin-top: 20px;
  margin-left: 70px;
  text-decoration: none;
}
.cancel {
  margin-left: 200px;
  color: rgb(111, 111, 197);
}
.draw-btn {
  -webkit-appearance: none;
  width: 100px;
  height: 30px;
  color: rgb(111, 111, 197);
  background-color: #e6f2f5;
  margin-left: 50px;
  cursor: pointer;
  border-radius: 5px;
}