* {
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100%;
}




.wrapper{
  background-image: url(family.jpg);
  background-position:center bottom;
  background-size: cover;
  width: 100%;
  height: 100vh; 
  display: flex;
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
.title-container{
  width: 50%;
  height: 100vh;
  padding: 100px;
}
h1.title-container__title{
  font-size: 2rem;
  margin-bottom: 10px;
  letter-spacing: 0.1em;
}
h2.title-container__subtitle{
  font-size: 1.5rem;
  margin-bottom: 50px;
  padding-left: 30px;
}
h3.title-container__message{
  font-size: 1.2rem;
  padding-left: 50px;
  line-height: 1.8;
}


.form-container{
  width: 50%;
  height: 100vh;
  padding: 200px 0 0 100px;
}
h2.form-container__login{
  font-size: 2rem;
  margin-bottom: 10px;
  letter-spacing: 0.1em;
}
#user_email, #user_password{
  width: 400px;
  height: 40px;
}
.form-container__login--email{
  padding-bottom: 30px;
}
.login-btn {
  -webkit-appearance: none;
  width: 200px;
  height: 40px;
  margin-top: 20px;
  margin-left: 80px;
  color: rgb(111, 111, 197);
  background-color: #e6f2f5;
  cursor: pointer;
  border-radius: 5px;
}

.new-btn{
  display: block;
  text-decoration: none;
  margin: 30px 0 0 120px;
  color: rgb(111, 111, 197);
}
.forget-btn{
  display: block;
  text-decoration: none;
  margin: 30px 0 0 120px;
  color:  rgb(111, 111, 197);
}

.calculator-table{
  width: 100%;
  height: 80%;
}
