* {
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100%;
}
.wrapper{
  background-image: url(family.jpg);
  background-position:center bottom;
  background-size: cover;
  width: 100%;
  height: 100vh; 
  display: flex;
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}


.guide-container{
  width: 50%;
  height: 100vh;
  padding-top: 80px;
  padding-left: 100px;
}
h1.guide-container__title{
  font-size: 2rem;
  margin-bottom: 10px;
  letter-spacing: 0.1em;
}
h2.guide-container__subtitle{
  font-size: 1.5rem;
  margin-bottom: 50px;
  padding-left: 30px;
}
h3.guide-container__message{
  padding-left: 20px;
  color: rgb(199, 146, 146);
  .list{
    font-size: 1.5rem;
    padding-left: 40px;
  }
}


.create-container{
  width: 50%;
  height: 100%;
  padding: 50px 0 0 50px;
  &__signup{
  font-size: 2rem;
  margin-bottom: 10px;
  letter-spacing: 0.1em; 
  }
} 

#user_name, #user_incomes, #user_fixedcosts, #user_savings{
  width: 200px;
  height: 40px;
}
#user_email, #user_password, #user_password_confirmation{
  width: 400px;
  height: 40px;
}

.signup-btn{
  -webkit-appearance: none;
  width: 100px;
  height: 40px;
  margin-left: 50px;
  color:rgb(111, 111, 197);
  background-color: #e6f2f5;
  cursor: pointer;
  border-radius: 5px; 
}

.login-btn{
  display: block;
  text-decoration: none;
  margin: 50px 0 0 100px;
  color: rgb(111, 111, 197);
}


.fixedcosts {
  display: flex;
}
.js-modal-open{
  text-decoration: none;
  color: #6f6fc5;
  font-size: 1.2rem;
  line-height: 3rem;
}

.modal{
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}
.modal__bg{
  background: rgba(0,0,0,0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}
.modal__content{
  background: #fff;
  left: 25%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 80%;
}

#close{
  color: #6f6fc5;
  text-decoration: none;
  border: 1px solid #6f6fc5;
  display: inline-block;
  height: 40px;
  width: 60px;
  line-height: 40px;
  text-align: center;
  margin-top: 50px;
  float: right;
}

.spending-table {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.age{
  width: 30%;
}
.spending{
  width: 70%;
}

.js-modal-calculator-open{
  text-decoration: none;
  color: #6f6fc5;
  font-size: 1.2rem;
  line-height: 3rem;
}
.calculator-form{
  width: 100%;
  height: 80%;
}
.calculator-table{
  width: 100%;
  height: 100%;
}
.calculator-result{
  width: 100%;
  height: 100%;
  text-align: right;
  padding: 8px;
  font-size: 1.5rem;
}

.btn-container{
  display: flex;
}