.guide-container
  .guide-container__title Money Wish List
  .guide-container__subtitle 〜人生１００年時代を生き抜く〜
  .guide-container__message
    1年間でどれくらい大きな額のお買い物をしていますか？ 
    %br/
    %br/
    .list Record List
    %br/
    大きな額のお買い物をしたら記録しましょう。
    %br/
    １年間であといくら使えるかわかります。
    %br/
    %br/
    %br/
    .list Wish List
    %br/
    ほしい大きなお買い物をリスト化しておきましょう。
    %br/
    買う前に予定を立てて、本当に必要なものか考えることができます。
